﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title :: ClockTower.NET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    @{
        Html.RenderPartial("~/views/shared/_header.cshtml");
    }

    @RenderBody()

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
